/*  List key-value pairs display */

// Override bootstrap3 header classes
dt.h3, dt.h4, dd.h3, dd.h4 {
    margin-top: 0;
    @include font-size(1);
}

dd.h3, dd.h4 {
    font-weight: normal;
}

.key-value {
    margin: 0;

    > div {
        clear: left;
    }

    dt {
        padding-top: 0;
        padding-bottom: 2px;
        text-align: left;

        &:after {
            content: ": ";
        }
    }

    dt, dd {
        margin-left: 0;
        padding-top: 0;
        margin-bottom: 0px;
        @include font-size(1);
    }

    dd {
        margin-bottom: 10px;
        padding-bottom: 0;

        a.stacked-link {
            display: block;
        }
    }
}

@media screen and (min-width: $screen-xs-min) {
    .key-value {
        dt {
            float: left;
            width: $component-offset-horizontal;
            text-align: right;
            clear: left;

        }

        dt, dd {
            padding-top: 5px;
            line-height: 18px;
        }

        dd {
            margin-left: 200px;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    }
}

// Left-justified key-value
.key-value-left {
    @extend .key-value;

    dt, dd {
        width: auto;
        padding-top: 0 !important;
    }

    dt {
        float: none !important;
        display: block !important;
        text-align: left !important;
        margin-bottom: 0px !important;
    }

    dd {
        margin-left: 0 !important;

        &.key-value-left-indent {
            margin-left: 20px !important;
        }
    }
}

.unit::before {
    content: " ";
}

.horizontal-list {
    @include clearfix;

    li {
        float: left;
        margin-right: 0.5em;
    }
}

dd ul, .multi-value {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 5px;

        span {
            font-weight: normal;
        }
    }
}

.multi-comma {
    margin-right: 0;

    &:after {
        content: ",\00a0";
    }

    &:last-child:after {
        content: normal;
    }
}

.multi-dd {
    margin-bottom: 10px;
}


.para-text {
    line-height: 1.6 !important;
}

.software-version {
    display: inline-block;
    padding: 0;
    margin-right: 5px;
    margin-bottom: 2px;
    @include border-radius(2px);
    border: 1px solid #c0c0c0;
    color: #333;
    @include font-size(0.9);
    text-decoration: none;

    &:hover {
        color: #eee;
        background-color: #333;

        .version {
            color: #fff;
            background-color: #808080;
        }
    }

    .software {
        float: left;
        padding: 0 5px;
    }

    .version {
        float: left;
        padding: 0 5px;
        font-weight: bold;
        background-color: #e0e0e0;
    }
}

